<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesJoh.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div>  
        <div class="cart__progress">
            <hr> 
            <i class="fas fa-circle progress__active"><span class="position-relative">1</span><span class="progress__description">Carro</span></i>
            <i class="fas fa-circle"><span class="position-relative">2</span><span class="progress__description">Envío</span></i>
            <i class="fas fa-circle"><span class="position-relative">3</span><span class="progress__description">Pago</span></i>
        </div>
    </div>
    <main id="cart-products">
        <div class="cart__products">
            <article>
                <img src="/img/product.jpeg" alt="">
                <div class="text-center">                     
                    <p class="cart__product_name">Nombre Producto</p>
                    <p  class="cart__product_format"><b>Formato</b> 500grs</p>
                    <p class="cart__product_price"><b>$35.000</b></p>
                </div>
                <div class="cart__more-less">
                    <i class="fas fa-plus-circle"></i>
                    <span>3</span>
                    <i class="fas fa-minus-circle"></i>
                </div>
                <p class="cart__product_total">$70.000</p>
            </article>   
            <article>
                <img src="/img/product.jpeg" alt="">
                <div class="text-center">                     
                    <p class="cart__product_name">Nombre Producto</p>
                    <p  class="cart__product_format"><b>Formato</b> 500grs</p>
                    <p class="cart__product_price"><b>$35.000</b></p>
                </div>
                <div class="cart__more-less">
                    <i class="fas fa-plus-circle"></i>
                    <span>3</span>
                    <i class="fas fa-minus-circle"></i>
                </div>
                <p class="cart__product_total">$70.000</p>
            </article>  
        </div>
        <div class="text-center cart__continue-buy">
            <div>
                <p>Total</p>
                <p class="cart__total">$175.000</p>
            </div>              
            <button>Continuar Compra</button>
        </div>    
    </main>
</body>
</html>