<!-- Encabezado de la pagina -->

<%- include("./partials/head") %>

<title>Home</title>
</head>

<body class="bodyHome">

    <!-- Cabecera -->
    <%- include("./partials/header") %>

    <!-- Contenido -->
    <section class="generalHome">


    </section>

    <!-- Pie de Pagina -->
    <%- include("./partials/footerNico") %>

</body>
</html>