<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://kit.fontawesome.com/58adbff36b.js" crossorigin="anonymous"></script>
    <title>Listado de Productos</title>
</head>
<body>
   
    <section class="listProduct">
    
        <div class="listProduct__containerFilter">

            <div class="listProduct__titleFilter">
                <p>Filtro</p>
            </div>

            <ul>

                <div>
                    <li>Marca</li>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div>
                    <li>Peso</li>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div>
                    <li>Caracteristica</li>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div>
                    <li>Molienda</li>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

            </ul>

        </div>

        <div class="listProduct__containerProducts">
            
            <div class="listProduct__containerProducts-titleProducts">
                <p>Productos</p>
            </div>

            <div class="listProduct__boxProducts">

                <div class="boxProducts-itemProduct">

                    <img src="/img/productos/cafe-molido-morenita.jpg" alt="">

                    <div class="listProduct__titleProduct">
                        <p>Cafe Molido - La Morenita</p>
                    </div>

                    <div class="listProduct__detailsProducts">
                        <div>
                            <p class="listProduct__price">Precio: 5 USD</p>
                            <p>Envio gratis</p>
                        </div>

                        <i class="fa-solid fa-cart-flatbed"></i>
                    </div>

                    <div class="listProduct__masInfo">
                        <p>Leer mas informacion >></p>
                    </div>

                </div>

                <div class="boxProducts-itemProduct">

                    <img src="/img/productos/cafe-molido-morenita.jpg" alt="">

                    <div class="listProduct__titleProduct">
                        <p>Cafe Molido - La Morenita</p>
                    </div>

                    <div class="listProduct__detailsProducts">
                        <div>
                            <p class="listProduct__price">Precio: 5 USD</p>
                            <p>Envio gratis</p>
                        </div>

                        <i class="fa-solid fa-cart-flatbed"></i>
                    </div>

                    <div class="listProduct__masInfo">
                        <p>Leer mas informacion >></p>
                    </div>

                </div>

                <div class="boxProducts-itemProduct">

                    <img src="/img/productos/cafe-molido-morenita.jpg" alt="">

                    <div class="listProduct__titleProduct">
                        <p>Cafe Molido - La Morenita</p>
                    </div>

                    <div class="listProduct__detailsProducts">
                        <div>
                            <p class="listProduct__price">Precio: 5 USD</p>
                            <p>Envio gratis</p>
                        </div>

                        <i class="fa-solid fa-cart-flatbed"></i>
                    </div>

                    <div class="listProduct__masInfo">
                        <p>Leer mas informacion >></p>
                    </div>

                </div>

                <div class="boxProducts-itemProduct">

                    <img src="/img/productos/cafe-molido-morenita.jpg" alt="">

                    <div class="listProduct__titleProduct">
                        <p>Cafe Molido - La Morenita</p>
                    </div>

                    <div class="listProduct__detailsProducts">
                        <div>
                            <p class="listProduct__price">Precio: 5 USD</p>
                            <p>Envio gratis</p>
                        </div>

                        <i class="fa-solid fa-cart-flatbed"></i>
                    </div>

                    <div class="listProduct__masInfo">
                        <p>Leer mas informacion >></p>
                    </div>

                </div>

                <div class="boxProducts-itemProduct">

                    <img src="/img/productos/cafe-molido-morenita.jpg" alt="">

                    <div class="listProduct__titleProduct">
                        <p>Cafe Molido - La Morenita</p>
                    </div>

                    <div class="listProduct__detailsProducts">
                        <div>
                            <p class="listProduct__price">Precio: 5 USD</p>
                            <p>Envio gratis</p>
                        </div>

                        <i class="fa-solid fa-cart-flatbed"></i>
                    </div>

                    <div class="listProduct__masInfo">
                        <p>Leer mas informacion >></p>
                    </div>

                </div>

            </div>

        </div>

    </section>

</body>
</html>