<!-- Encabezado de la pagina -->
<%- include("../partials/head") %>
  <title>product-detail</title>

  </head>

  <body class="productBody">
    <%- include("../partials/header") %>
    <section class="generalHome">
      <div class="product-detail">
        <p class="product-detail-detail">Detalle del Producto</p>
      </div>
      <div class="product-img">
        <img src="/img/product1.jpg" class="img-product" />
      </div>
      <div class="product-complete">
        <div class="product-img2">
          <img src="/img/product1.jpg" class="img-product2" />
        </div>
        <div class="product-description-complete">
          <div class="product-name-product2">
            <p>Café torrefacto</p>
          </div>
          <div class="product-price-truck2">
            <div class="product-price-us2">
              <p>Precio US$ 10</p>
            </div>
            <div class="product-cant2">
              <i class="fas fa-minus-circle"></i>
              <div class="product-cantv">
                <p class="product-cant-valor2">6</p>
              </div>
              <i class="fas fa-plus-circle"></i>
            </div>
            <div class="product-option-shipping2">
              <div class="product-truck2">
                <i class="fas fa-truck"></i>
              </div>
              <div class="product-shipping2">
                <p><a href="#">plazos de envío</a></p>
              </div>
              <div class="product-buttons product-buttons2">
                <a href="#" class="product-btn-shopp2">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="product-product2">
            <div class="product-description-product2">

              <div class="product-characteristic2">
                <p>Este café posee un gran aroma, sabor, cuerpo y acidez</p>
              </div>
            </div>
            <div class="product-description3">
              <h4>Descripción</h4>
              <p>
                El café torrefacto es una variedad de café que se obtiene tras
                someter al grano a un proceso especial durante el tueste
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="product-price-truck">
        <div class="product-price-us">
          <p>Precio US$ 10</p>
        </div>
        <div class="product-cant">
          <i class="fas fa-minus-circle"></i>
          <div class="product-cant-valor">
            <p>6</p>
          </div>
          <i class="fas fa-plus-circle"></i>
        </div>
        <div class="product-option-shipping">
          <div class="product-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-shipping">
            <a href="#">plazos de envío</a></p>
          </div>
        </div>
        <div class="product-buttons">
          <a href="#" class="product-btn-shopp">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <div class="product-product">
        <div class="product-description-product">
          <div class="product-name-product">
            <p>Café torrefacto</p>
          </div>
          <div class="product-characteristic">
            <p>Este café posee un gran aroma, sabor, cuerpo y acidez</p>
          </div>
        </div>
        <div class="product-description2">
          <h4>Descripción</h4>
          <p>
            El café torrefacto es una variedad de café que se obtiene tras
            someter al grano a un proceso especial durante el tueste
          </p>
        </div>
      </div>
      <div class="product-buttons-payment">
        <div class="product-payment">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amex"></i>
          <i class="fab fa-paypal"></i>
          <i class="fas fa-certificate"></i>
        </div>
      </div>
      <div class="product-featured-global">
        <div class="product-title-global">
          <h3 class="product-title">Destacados</h3>
        </div>
        <div class="product-featured">
          <div class="product-coffe">
            <img src="/img/product2.jpg" class="product-product-img" />
          </div>
          <div class="product-coffe">
            <img src="/img/product3.jpg" class="product-product-img" />
          </div>
          <div class="product-coffe">
            <img src="/img/product5.jpg" class="product-product-img" />
          </div>
        </div>
      </div>
     
      <%- include("../partials/footer") %>
    </section>
  </body>

</html>