
<!-- * Encabezado de la pagina -->
<%- include ("../partials/head") %>

<title>Creacion de un producto</title>
</head>

<body>
    
    <!-- * Header -->
    <%- include ("../partials/header") %>

    <section class="generalHome">

        <div class="updateProduct">

            <div class="updateProduct__title">
                <h3>Modificacion de un Producto</h3>
            </div>

            <form class="updateProduct__containerForm">

                <div class="updateProduct-nameProduct">
                    <label for="nameProduct">Nombre del Producto:</label>
                    <input class="updateProduct__inputBox" type="text" name="nameProduct" id="nameProduct">
                </div>

                <div class="updateProduct-weightProduct">
                    <label for="weightProduct">Peso del producto (Gramos):</label>
                    <input class="updateProduct__inputBox" type="text" name="weightProduct" id="weightProduct">
                </div>

                <div class="updateProduct-priceProduct">
                    <label for="priceProduct">Precio (USD):</label>
                    <input class="updateProduct__inputBox" type="text" name="priceProduct" id="priceProduct">
                </div>

                <div class="updateProduct-categoryProduct">
                    <label for="categoryProduct">Categoria:</label>
                    <select class="updateProduct__inputBox" name="categoryProduct" id="categoryProduct"> 

                        <option>En grano</option>
                        <option>Molido Fino</option>
                        <option>Molido Medio</option>
                        <option>Molido Grueso</option>

                    </select> 
                </div>

                <div class="updateProduct-imageProduct">
                    <label for="imageProduct">Imagen (JPG, PNG):</label>
                    <input class="updateProduct__inputBox" type="file" name="imageProduct" id="imageProduct" accept=".JPG,.PNG">
                </div>

                <div class="updateProduct-descriptionProduct">
                    <label for="descriptionProduct">Descripcion del producto:</label>
                    <textarea class="updateProduct__inputBox" name="descriptionProduct" id="descriptionProduct"></textarea>
                </div>

                <section class="btn updateProduct-btn">
                    <button type="submit" class="submit">Enviar</button>
                    <button type="reset" class="reset">Restablecer</button>
                </section>



            </form>

        </div>

    <!-- * Footer -->
    <%- include ("../partials/footer") %>

    </section>

    <!-- * Scripts de la WEB -->
    <script src="../js/appHeader.js"></script>

</body>
</html>