<footer class="productFooter">
  <div class="footer-medium-box">
    <div class="footer-contact-us">
      <div class="footer-us">
        <p class="footer-title">Sobre Nosotros</p>
        <p>Somos una comercializadora de café Colombiano de alta calidad con envío a nivel mundial</p>
      </div>
      <div class="footer-contact">
        <p class="footer-title">Contáctanos</p>
        <p><i class="fab fa-whatsapp"></i><a href="#">WhatsApp</p></a>
        <p class="footer-title-email"><i class="fas fa-at"></i>mecafe@gmail.com</p>
      </div>
    </div>
    <div class="footer-information">
      <p class="footer-title">Información</p>
      <a href="#">Sobre Nosotros</a><br>
      <a href="#">Blog</a><br>
      <a href="#">Recetas</a><br>
      <a href="#">Historia del Café</a><br>
    </div>
    <div class="footer-links">
      <p class="footer-title">Links</p>
      <a href="#">Soporte</a><br>
      <a href="#">Terminos y condiciones</a>
    </div>
    <div class="footer-last-footer">
      <div class="footer-Copyright">
        <p>Copyright 2022</p>
      </div>
      <div class="footer-networks">
        <div class="footer-link-net">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
        <p class="footer-link-text">Síguenos en redes sociales</p>
      </div>
      <div class="footer-logo-box">
        <img src="/img/logoMecafe2.png" class="footer-logo" />
      </div>
    </div>
  </div>
  </div>
</footer>