<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Hoja de Estilo -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- Script de FontAwesome -->
    <script src="https://kit.fontawesome.com/58adbff36b.js" crossorigin="anonymous"></script>

    <title>Header</title>
    
</head>

<body>
    
    <div class="navbar">

        <div class="navbar__container flex-nav">

            <div class="nav-header">

                <h2>Cafe<span>Meca</span></h2>

                <button class="nav-toggle" id="navToggle">
                    <i class="fas fa-bars"></i>
                </button>

            </div>

            <nav class="nav-links" id="nav-links">

                <ul>
                    <li class="nav-link"><a href="#">Inicio</a></li>
                    <li class="nav-link"><a href="#">Productos</a></li>
                    <li class="nav-link"><a href="#">Quienes Somos</a></li>
                    <li class="nav-link"><a href="#">Contacto</a></li>
                </ul>

            </nav>

        </div>
    </div>

    <script src="./js/appHeader.js"></script>

</body>

</html>