<div class="navbar">
    <div class="navbar__container flex-nav">
        <div class="nav-header">
            <a href="/">
            <h2>Cafe<span>Meca</span></h2>
            </a>
            <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <nav class="nav-links" id="nav-links">
            <ul>
                <li class="nav-link"><a href="/">Inicio</a></li>
                <li class="nav-link"><a href="/product">Productos</a></li>
                <li class="nav-link"><a href="#">Quienes Somos</a></li>
                <li class="nav-link"><a href="#">Contacto</a></li>                
                <% if(locals.user && locals.user.role == "admin") { %> <li class="nav-link"><a href="/product/administracion">Admin</a></li> <% } %>
                <% if(!locals.user) { %> <li class="nav-link"><a href="#" id="btnOpenModalLogin" onclick="openModal('modalLogin')">Inicio Sesion</a></li> <% } %>
                <% if(locals.user) { %> 
                    <li class="nav-link"><a href="#" id="btnOpenModalPassword" onclick="openModal('modalPassword')">Cambiar contraseña</a></li> 
                    <li class="nav-link"><form action="/user/logout" method="post"><a href='#' onclick='this.parentNode.submit(); return false;'>Logout</a></form></li> 
                <% } %>
            </ul>
        </nav>
    </div>
</div>
<div class="open-close-side"></div>

<%- include("./login") %>
<%- include("./changePassword") %>

