<div class="navbar">
    <div class="navbar__container flex-nav">
        <div class="nav-header">
            <h2>Cafe<span>Meca</span></h2>
            <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <nav class="nav-links" id="nav-links">
            <ul>
                <li class="nav-link"><a href="/">Inicio</a></li>
                <li class="nav-link"><a href="/product">Productos</a></li>
                <li class="nav-link"><a href="#">Quienes Somos</a></li>
                <li class="nav-link"><a href="#">Contacto</a></li>
                <li class="nav-link"><a href="#">Inicio Sesion</a></li>
            </ul>
        </nav>
    </div>
</div>

