<div id="menu_user">
    <nav>
        <ul>
            <li><a href="">Mis Datos</a></li>
            <li><a href="">Mis Pedidos</a></li>
            <li><a href="">Mis Direcciones</a></li>
            <li><a href="">Cerrar Sesión</a></li>
        </ul>
    </nav>
</div>