<div id="menu_partial">
    <nav>
        <ul>
            <li><a href="/user/profile">Mis Datos</a></li>
            <li><a href="/user/sale">Mis Pedidos</a></li>
            <li><a href="/user/direction">Mis Direcciones</a></li>
        </ul>
    </nav>
</div>