<div id="menu_partial">
    <nav>
        <ul>
            <li><a href="/user/list">Usuarios</a></li>
            <li><a href="/product/administracion">Productos</a></li>
            <li><a href="/product/create">Crear Producto</a></li>
        </ul>
    </nav>
</div>