<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/johCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="products">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="text-center">                     
                    <p>Nombre Producto</p>
                    <p><b>Formato</b> 500grs</p>
                    <p><b>$35.000</b></p>
                </div>
                <div class="mas-menos">
                    <i class="fas fa-plus-circle"></i>
                    <p>3</p>
                    <i class="fas fa-minus-circle"></i>
                </div>
                <p>$70.000</p>
            </article>   
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="text-center">                     
                    <p>Nombre Producto</p>
                    <p><b>Formato</b> 500grs</p>
                    <p><b>$35.000</b></p>
                </div>
                <div class="mas-menos">
                    <i class="fas fa-plus-circle"></i>
                    <p>3</p>
                    <i class="fas fa-minus-circle"></i>
                </div>
                <p>$70.000</p>
            </article>           
        </div>
        <div class="text-center">
            <p>Total</p>
            <p>$175.000</p>
            <button>Continuar Compra</button>
        </div>
    </div>
</body>
</html>