<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="containerProgress">  
            <div class="progress">
                <hr> 
                <i class="fas fa-circle selected"><span>1</span></i>
                <i class="fas fa-circle"><span>2</span></i>
                <i class="fas fa-circle"><span>3</span></i>
            </div>
        </div>
        <main>
            <div class="products">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="text-center">                     
                        <p class="name">Nombre Producto</p>
                        <p  class="format"><b>Formato</b> 500grs</p>
                        <p class="price"><b>$35.000</b></p>
                    </div>
                    <div class="more-less">
                        <i class="fas fa-plus-circle"></i>
                        <span>3</span>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p class="total-product">$70.000</p>
                </article>   
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="text-center">                     
                        <p class="name">Nombre Producto</p>
                        <p  class="format"><b>Formato</b> 500grs</p>
                        <p class="price"><b>$35.000</b></p>
                    </div>
                    <div class="more-less">
                        <i class="fas fa-plus-circle"></i>
                        <span>3</span>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p class="total-product">$70.000</p>
                </article>  
            </div>
            <div class="text-center continue-buy">
                <p>Total</p>
                <p class="total">$175.000</p>
                <button>Continuar Compra</button>
            </div>    
        </main>
          
       
    </div>
</body>
</html>