<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/yoha-footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
        <div class="medium-box">
        <div class="contact-us">
          <div class="us">
            <p class="title">Sobre Nosotros</p>
            <p>Somos una comercializadora de café Colombiano de alta calidad con envío a nivel mundial</p>
          </div>
          <div class="contact">
            <p class="title">Contáctanos</p>
            <p><i class="fab fa-whatsapp"></i><a href="#">WhatsApp</p></a>
            <p><i class="fas fa-at"></i>mecafe@gmail.com</p>
          </div>
        </div>
        <div class="information">
          <p class="title">Información</p>
            <a href="#">Sobre Nosotros</a><br>
            <a href="#">Blog</a><br>
            <a href="#">Recetas</a><br>
            <a href="#">Historia del Café</a><br>
        </div>
        <div class="links">
          <p class="title">Links</p>
            <a href="#">Soporte</a><br>
            <a href="#">Terminos y condiciones</a>
        </div>
        <div class="last-footer">
        <div class="Copyright">
          <p>Copyright 2022</p>
        </div>
          <div class="networks">
            <div class="link-net">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
            <p class="link-text">Síguenos en redes sociales</p>
            </div>
            <div class="logo-box">
              <img src="/img/logoMecafe2.png" class="logo" />
            </div>
        </div>
      </div>
      </div>
    </footer>
  </body>
</html>
