<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/yoha.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
        <div class="product-detail">
            <p class="detail">Detalle del Producto</p>
          </div>
    </header>
    <main>
      <div class="img">
        <img src="/img/product1.jpg" class="img-product" />
      </div>
      <div class="price">
        <p class="price-us">Precio US$ 10</p>
      </div>
      <div class="product">
        <div class="description-product">
          <div class="name-product">
            <p>Café torrefacto</p>
          </div>
          <div class="characteristic">
            <p>Este café posee un gran aroma, sabor, cuerpo y acidez</p>
          </div>
        </div>
        <div class="description2">
            <h4>Descripción</h4>
            <p>
              El café torrefacto es una variedad de café que se obtiene tras
              someter al grano a un proceso especial durante el tueste
            </p>
          </div>
      </div>
      <div class="buttons-payment">
        <div class="payment">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-paypal"></i>
            <i class="fas fa-certificate"></i>
          </div>
        </div>
      </div>
      <div class="specs">
        <h3>especificaciones Tecnicas</h3>
      </div>
      <div class="featured">
        <h3>Destacados</h3>
        <div class="product">
          <img src="/img/product2.jpg" class="product-img" />
        </div>
        <div class="product">
          <img src="/img/product3.jpg" class="product-img" />
        </div>
        <div class="product">
          <img src="/img/product5.jpg" class="product-img" />
        </div>
      </div>
      <div class="buttons-sales">
        <div class="option-shipping">
          <i class="fas fa-truck"></i>
          <p>plazos de envío</p>
        </div>
        <div class="sales-cart">
          <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    </main>
  </body>
</html>
