:root{
    --naranja:#F78B2D;
    --naranja-oscuro:#e16d09;
    --naranja-saturado:#ff8914;
    --negro-intenso:#0a0a0a;
    --lime:#c7db00;
    --lime-saturado:#ddf600;
    --lime-oscuro:#9faf00;
    --cilantro:#7aa802;
    --cilantro-saturado:#83bd00;
    --cilantro-oscuro:#628602;
    --toast:#e4b600;
    --toast-saturado:#ffc700;
    --toast-oscuro:#b69200;
    --blano-original:#fbfcfc;
    --piel-original:#f6ddcc;
    --piel-saturado:#fbdcc7;
    --piel-oscuro:#e9aa7f;
    --marron-original:#d5a16a;
    --marron-oscuro:#c78238;
}


.red{
    color:red;
}

.decoration-none{
    text-decoration-line: none;
}

.content-between{
    justify-content:space-between;
}
.display-flex{
    display: flex;
}

/******* Login *******/

.headerModal{
    border-bottom: 1px solid var(--lime);
    margin: 10px;
    padding: 10px;
    /**color: #f78b2d;*/    
}
.modalLogin{
    border:1px solid black;
    padding:10px;
    float: right;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: white;
    top: 0;    
    width:100%;
    min-width: 150px;
    /**color: #7aa802;*/
    color: var(--cilantro-oscuro) ;
    display: none;
}

.modalLogin form{
    margin-top: 15px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.modalLogin form label{
    margin-bottom:5px;
}

.modalLogin form .form-group{
    padding:10px;
}

.modalLogin form .error{
    font-size:11px;
    color:red;
}
.modalLogin form input{
    width: 70%;
    padding: 8px;
    font-size: 17px;
    background-color: #FFFFFF;
    border-style: hidden;
    border-radius: 11px;
    box-shadow: 0px 0px 6px var(--cilantro-saturado);
    margin-top: 10px;
    margin-bottom: 10px;
}
.modalLogin form input[type="checkbox"]{
    width: auto;
}

.modalLogin form div a{
    margin-left:20px;
}

.modalLogin form input[type="button"]{
    margin-top: 10px;
    align-self: center;
    width: 30%;
    background-color: var(--naranja-oscuro);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

@media(min-width:361px ){

    /** login */
    .modalLogin{
        width:361px;
        top: 0;
        right: 0px;
    }
    .modalLogin form input{      
        width:100%;
    }    
}

@media (min-width: 768px) {

    /** login */
    .modalLogin{
        width:500px;
    }
}

@media (min-width:992px){
    
}


@media (min-width:1200px){

}
