/*? ════════════════════ GLOBALES ════════════════════ ?*/
:root{
    --naranja-ligero: #fab273;
    --naranja-oscuro:#e16d09;
    --cilantro-saturado:#83bd00;
    --cilantro-oscuro:#628602;
    --lime:#c7db00;
}

.text-center{
    text-align:center;
}

.position-relative{
    position:relative;
}

.red{
    color:red;
}

/*! ════════════════════ LOGIN ════════════════════ !*/
.login__header{
    display: flex;
    justify-content:space-between;        
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--lime);
    
}
.login__container{
    border:1px solid black;
    padding:10px;
    float: right;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: white;
    top: 0;    
    width:100%;
    min-width: 150px;
    color: var(--cilantro-oscuro) ;
    display: none;
}

.login__container form{
    margin-top: 15px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.login__container form label{
    margin-bottom:5px;
}

.login__container form .form-group{
    padding:10px;
}

.login__formError{
    margin-top: 0.7em;
    color: red;
    font-size: 0.8em;
    text-align: center;
    font-weight: 700;
}

.errorCampoDiv input{
    box-shadow: 0px 0px 6px red !important;
}

.login__container form input{
    width: 100%;
    padding: 8px;
    font-size: 17px;
    background-color: #FFFFFF;
    border-style: hidden;
    border-radius: 11px;
    box-shadow: 0px 0px 6px var(--cilantro-saturado);
    margin-top: 10px;
    margin-bottom: 10px;
}

.login__container form input[type="checkbox"]{
    width: auto;
}

.login__container form div a{
    margin-left:20px;
}

.login__container form input[type="button"]{
    margin-top: 10px;
    align-self: center;
    width: 30%;
    background-color: var(--naranja-oscuro);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/*! ════════════════════ CART ════════════════════ !*/

#cart-products{
    max-width: 700px;
    position: relative;
    margin: auto;
}

/*? -------------- BAR PROGRESS  ------------ ?*/

.cart__progress{
    position: relative;
    color:var(--naranja-ligero);
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

.cart__progress hr {
    position: absolute;
    width: 50%;
    height: 0;
    border: medium none;
    border-top: 5px solid var(--naranja-oscuro);
    top: 20px;
}

.cart__progress i{
    display: flex;
    position: relative;
    align-items: center;
    font-size:25px;
}

.cart__progress i span{
    /**position: relative;*/
    color: black;
    font-weight: bold;
    vertical-align: middle;
    font-size: 14px;
    right: 16px;
    bottom: 1px;
}

.progress__active{
    color: var(--naranja-oscuro) !important;
}

.progress__description{
    position: absolute;
    top: 40px;
    left: 0px;
}

/*? -------------- PRODUCTS LIST --------- ?*/
.cart__products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__products article{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    padding: 10px;
    margin:15px;
    width:70%;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px 0px grey;
}

.cart__products article img{
    width: 50%;
}

.cart__products article p{
    margin: 5px;
}

.cart__products article .cart__product_name{
    font-size: 14px;
}

.cart__products article .cart__product_format{
    font-size: 12px;
}

.cart__products article .cart__product_price{
    font-size: 11px;
}

.cart__products article .cart__more-less{
    display: flex;
    justify-content: space-evenly;
}

.cart__products article .cart__more-less{
    position: relative;
    color: var(--naranja-oscuro);
    display: flex;
    justify-content: space-evenly;
    width:50%;
}

.cart__products article .cart__product_total{
    font-size: 13px;
}

.cart__products article span{
    position: absolute;
    font-size: 12px;
    color: black !important;
    align-items: center;
    top: 3px;
}

/*? --------------  TOTAL CART ------------ ?*/

.cart__continue-buy{
    align-self: flex-end;
    padding: 10px;
    margin:10px;
    position: absolute;
    right: 0;
}

.cart__continue-buy div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart__continue-buy button{
    margin: 5px;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    background-color: var(--naranja-oscuro);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 11px;
    box-shadow: 0px 0px 6px var(--cilantro-saturado);
    border-style: hidden;
}

.cart__continue-buy .cart__total{
    font-size:20px;
}

/*! ════════════════════ LOGIN ════════════════════ !*/


/*! ════════════════════ MEDIAS QUERYS ════════════════════ !*/

/* TODO ════════════════════ MEDIA QUERY 480PX ════════════════════ TODO */
@media (min-width : 480px) {
    /*! ════════════════════ LOGIN ════════════════════ !*/
    .login__container{
        width:450px;
        top: 0;
        right: 0px;
    }

    /*! ════════════════════ CART ════════════════════ !*/

    /*? -------------- BAR PROGRESS  ------------ ?*/

    .cart__progress hr{
        top: 23px;
    }

    .cart__progress i{
        position: relative;
        font-size: 30px;
    }

    .cart__progress i span{
        right: 18px;
    }

    /*? -------------- PRODUCTS LIST --------- ?*/
    .cart__products article{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        max-width: 700px;
        width:100%;
    }

    .cart__products article img{
        width: 25%;
    }

    .cart__products article div{
        width: 25%;
    }

    .cart__products article .cart__more-less{
        width:25%;
    }
}

/* TODO ════════════════════ MEDIA QUERY 768PX ════════════════════ TODO */
@media (min-width : 768px) {
    /*! ════════════════════ CART ════════════════════ !*/

    /*? --------------  TOTAL CART ------------ ?*/

    .cart__continue-buy .cart__total{
        font-size: 20px;
    }

    .cart__continue-buy button{
        font-size: 18px;
    }    
}

/* TODO ════════════════════ MEDIA QUERY 992PX ════════════════════ TODO */
@media (min-width : 992px) {
    /*! ════════════════════ CART ════════════════════ !*/
    /*? -------------- BAR PROGRESS  ------------ ?*/
    .cart__progress hr{
        top: 26px;
    }

    .cart__progress i{
        position: relative;
        font-size: 35px;
    }

    .cart__progress i span{
        right: 20px;
    }
}

/* TODO ════════════════════ MEDIA QUERY 1200PX ════════════════════ TODO */
@media (min-width : 1200px) {
    
}