/*? ════════════════════ GLOBALES ════════════════════ ?*/

@font-face {
    font-family: "proximanova";
    src: url("../fonts/proximanova-regular.otf");
    /* format("truetype"); */
}

@font-face {
    font-family: "proximanovaBold";
    src: url("../fonts/proximanova-semibolditalic.otf");
    /* format("truetype"); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: proximanova;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ffffff;
    text-decoration: none;
    transition: none;
}

:root {
    --lime: #c7db00;
    --cilantro: #7aa802;
    --lox: #f78b2d;
    --toas: #e4b600;
    --black: #000000;
    --negro-pastel: rgb(20, 20, 20);
    --blue-pastel: #4e89e5;
    --green-pastel-btn: #77dd77;
    --red-pastel-btn: #ff6961;
    --gray-pastel: #cdcdcd;
    --naranja-ligero: #fab273;
    --naranja-oscuro: #e16d09;
    --cilantro-saturado: #83bd00;
    --cilantro-oscuro: #628602;
    --azul: rgba(5, 5, 242, 0.7);
    --blanco-original: #fbfcfc;
    --email: #2420df;
    --marron-original: #d5a16a;
    --marron-original-desgastado: rgba(213, 161, 106, 0.5);
    --naranja-transparante: rgba(255, 137, 20, 0.4);
    --naranja-transparante-borde: rgba(255, 137, 20, 0.5);
    --negro-intenso: #0a0a0a;
    --whatsapp: #29df20;
    --naranja: #f78b2d;
    --tamanoFooter: 160px;
    --paddingArribaFooter: 90px;
    --tamanoImageError404: 300px 
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.red {
    color: red;
}

/*! ════════════════════ INVENTO DE NICOLAS, REDES SOCIALES ════════════════════ !*/

.redesSocialesBanner {
    /*border: solid 2px var(--lox);*/
    background-color: var(--negro-pastel);
    width: 85vw;
    max-width: 1000px;
    margin: 1.5em auto;
    text-align: center;
    display: grid;
    column-gap: 0;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: .5em .2em;
}

.redesSocialesBanner:hover {
    transition: all .3s;
    box-shadow: 1px 1px 5px 5px rgba(247,139,45,0.45);
}

.redesSocialesBanner__icon{
    font-size: 1.7em;
}

.redesSocialesBanner__icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 4px;
    justify-content: center;
}

.redesSocialesBanner h5 {
    padding: 5px;
    font-size: 1em;
    line-height: 1.2em;
}

.fa-facebook-square:hover {
    color: #1773EA;
    transition: all .7s;
}

.fa-twitter-square:hover {
    color: #1C9CEA;
    transition: all .7s;
}

.fa-whatsapp-square:hover {
    color: #00F562;
    transition: all .7s;
}

.fa-github-square:hover{
    color: #9642A2;
    transition: all .7s;
}

/*! ════════════════════ Pagina de ERROR 404 ════════════════════ !*/

.error404{
    background-image: url("../img/404Error/fondo.jpg"); 
    background-repeat: no-repeat; 
    background-attachment: fixed;  
    background-size: cover;
    min-height: calc(100vh - var(--tamanoFooter) - 66px);
    /*overflow: auto;*/
}

.error404__container{
    width: 100%;
}

.error404__boxAnimationContainer{
    width: var(--tamanoImageError404);
    margin: auto;
    position: relative;
}

.error404__animationImage img{
    width: 100%;
}


.error404__links{
    padding: 20px 0;
}

.error404__links ul{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.error404 li{
    padding: 5px 5px;
    list-style-type: none;
    font-weight: 700;
}

.error404 a{
    color: black;
}

.error404__title{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
}

.error404__title h3{
    font-size: 28px;
    margin-top: 10px;
    color: var(--lox); 
    text-shadow: black 0.1em 0.1em 0.2em
}

.error404__onefrase{
    padding: 0 30px;
}

.error404__onefrase p{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 35px;
}

.error404__twofrase{
    line-height: 23px;
    text-align: center;
    padding: 0 30px;
    font-weight: 400;
    padding-top: 20px;
}

/*! ════════════════════ INVENTO DE NICOLAS, FOOTER ════════════════════ !*/

.newFooter__container{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    width: 90%;
    margin: auto;
    align-items: stretch;
    max-height: var(--tamanoFooter);
    overflow: hidden;
    padding: 30px 0 0;
    max-width: 1000px;
}

.newFooter__desktop{
    display: none;
}

.newFooter__box{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    column-gap: 15px;
    justify-items: center
}

.newFooter__container h4 {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.newFooter__container p {
    font-size: 10px;
    padding: 7px 0;
    color: var(--gray-pastel)
}

.newFooter__itemsBox{
    padding-left: 7px;
    border-left: solid 1px var(--lox)
}

.newFooter__itemsBox .fa-square-whatsapp {
    color: var(--whatsapp);
}

.newFooter__itemsBox .fa-address-card {
    color: #0f82fc
}

.newFooter__itemsBox .fa-twitter-square {
    color: #1C9CEA;
}

.newFooter__itemsBox .fa-square-instagram {
    color: #DE4568;
}

.newFooter__itemsBox .fa-square-github {
    color: #9642A2;
}

/*! ════════════════════ NotAuth ════════════════════ !*/

.notAuth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: calc(100vh - var(--tamanoFooter) - var(--paddingArribaFooter));
}

.notAuth__container{
    width: 80%;
    text-align: center;
}

.notAuth__container h1{
    padding: 10px 0;
    font-size: 28px;
}

.notAuth__container p{
    font-size: 16px;
    padding: 10px 0;
    margin: 10px 0;
}

.notAuth__container button{
    font-size: 20px;
    border: solid 1px var(--gray-pastel);
    padding: 15px;
    border-radius: 3px;
    color: white;
    background-color: var(--negro-pastel);
}

.notAuth__container img{
    width: 300px;
}


/*! ════════════════════ HEADER ════════════════════ !*/

.nav-header h2 {
    color: white;
}

.nav-header span {
    color: var(--lox);
}

.navbar__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.nav-link {
    list-style: none;
    margin: 25px 5px;
    width: auto;
    padding-left: 8px;
}

.navbar {
    background: var(--negro-pastel);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5em;
}

.nav-links {
    height: 0;
    overflow: hidden;
}

.nav-open {
    height: 100%;
}

/** ═══════ GENERAL MODALS ═════════════ */

.open-close-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 1;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .7);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--lox);
}

.modal__container form {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modal__container form label {
    margin-bottom: 5px;
}

.modal__container form .form-group {
    padding: 10px;
}

.modal__formError {
    margin-top: 0.7em;
    color: red;
    font-size: 0.8em;
    text-align: center;
    font-weight: 700;
}

.modal__container form input {
    width: 100%;
    padding: 8px;
    font-size: 17px;
    background-color: #ffffff;
    border-style: hidden;
    border-radius: 11px;
    box-shadow: 0px 0px 6px var(--black);
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal__container form input[type="button"] {
    margin-top: 10px;
    align-self: center;
    width: 30%;
    background-color: var(--black);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.modal__container a {
    color: var(--lox);
    font-weight: bold;
}
/*! ════════════ MODAL CHANGE PASSWORD ═══════════════════ !*/

.changePassword__container {
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    z-index: 99999;
    background-color: white;
    width: 90%;
    display: none;
    margin: auto;
    top: 22%;
    left: 5%;
}

/*! ════════════════════ MODAL LOGIN ════════════════════ !*/

.login__container {
    border: 1px solid black;
    padding: 10px;
    float: right;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: white;
    top: 0;
    width: 100%;
    min-width: 150px;
    display: none;
}

.login__container {
    border: 1px solid gray;
    padding: 10px;
    float: right;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    background-color: white;
    top: 0;
    width: 100%;
    min-width: 150px;
    color: var(--black);
    display: none;
    overflow: scroll;

}

.login__container form input[type="checkbox"] {
    width: auto;
}

.login__container form div a {
    margin-left: 20px;
}

.login_logo{
    width: 100%;
    margin-top: 40px;
}

.login_logo img{
    object-fit: cover;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
}

.login__container form input[type="submit"] {
    margin-top: 10px;
    align-self: center;
    width: 30%;
    background-color: var(--black);
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/*! ════════════════════ MAIN ════════════════════ !*/

/** ════════════════════ ADMIN PRODUCTS  ════════════════════ **/

.AdminProducts__title{
    text-transform: full-width;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 90vw;
    max-width: 1200px;
    text-align: center;
    margin: 20px auto 0;
    padding: .6em;
    border-radius: 3px;
    color: var(--blanco-original);
    background-color: var(--black);
}

.AdminProducts__containerNewProduct{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0;
}

.AdminProducts__create{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: .8em;
    border-radius: 3px;
    color: black;
    border: solid 1px var(--gray-pastel);
    background-color: white;
}

.AdminProducts__create:hover {
    box-shadow: 1px -1px 18px -3px rgba(0,0,0,0.5);
    transition: all .5s;
    border: solid 1px gray;
}

.AdminProducts__create button{
    font-size: 1em;
    padding: 6px;
    border: solid 1px gray;
    border-radius: 3px;
    width: 100%;
}

.AdminProducts__create p{
    padding-left: 20px;
}

.AdminProducts__containerTable{
    width: 90vw;
    max-width: 1200px;
    margin: 20px auto 0;
    text-transform: uppercase;
}

.AdminProducts__table{
    width: 100%;
}

.AdminProducts__table .item-display-none{
    display: none;
}

.AdminProducts__table thead{
    background-color: #000000;
    color: white;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th {
    border: solid 1px var(--gray-pastel);
    padding: 1em;
}

td {
    font-size: .7em;
    padding: .2em;
    text-align: center;
    border: solid 1px var(--gray-pastel)
}

tr:nth-child(even){
    background-color: #F0F8FF;
}

tr:hover td{
    background-color: #ffffdd
}


.AdminProducts__btnNewProduct{
    background-color: #0f82fc;
    color: white;
    min-width: 85px;
}

.AdminProducts__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.AdminProducts__btn{
    border: none;
    background-color: transparent;
}

.AdminProducts__btn i {
    font-size: 1.15em;
    padding: 4px;
}

.AdminProducts__btnModify:hover {
    transition:  .5s;
    background-color: #00F562;
    border-radius: 3px;
}

.AdminProducts__btnDelete:hover {
    transition:  .5s;
    background-color: red;
    border-radius: 3px;
}

/** ════════════════════ ADMIN USERS  ════════════════════ **/

.AdminUsers__title{
    text-transform: full-width;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 90vw;
    max-width: 1200px;
    text-align: center;
    margin: 20px auto 0;
    padding: .6em;
    border-radius: 3px;
    color: var(--blanco-original);
    background-color: var(--black);
}

.AdminUsers__create{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: .8em;
    border-radius: 3px;
    color: black;
    border: solid 1px var(--gray-pastel);
    background-color: white;
}

.AdminUsers__create:hover {
    box-shadow: 1px -1px 18px -3px rgba(0,0,0,0.5);
    transition: all .5s;
    border: solid 1px gray;
}


.AdminUsers__containerTable{
    width: 90vw;
    max-width: 1200px;
    margin: 20px auto 0;
    text-transform: uppercase;
}

.AdminUsers__table{
    width: 100%;
}


.AdminUsers__table thead{
    background-color: #000000;
    color: white;
}



/** ════════════════════ LIST PRODUCTS ════════════════════ **/

.listProduct {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 10%;
    gap: 20px;
}

.listProduct__titleFilter {
    background-color: #000000;
    padding: 7px;
    margin-bottom: 0.5em;
}

.listProduct__titleFilter p {
    margin: auto;
    color: #ffffff;
}

.listProduct__containerFilter ul {
    width: 100%;
    background-color: #ebebeb;
    padding: 5px;
}

.listProduct__containerFilter li {
    list-style: none;
    padding: 0.5em;
}

.listProduct__containerFilter div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listProduct__containerFilter i {
    margin: 0 10px;
    font-size: 1.3em;
}

.listProduct__containerProducts-titleProducts {
    background-color: #000000;
    padding: 7px;
    margin-bottom: 0.5em;
}

.listProduct__containerProducts-titleProducts p {
    text-align: center;
    color: #ffffff;
}

.listProduct__titleProduct {
    background-color: #ebebeb;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

.listProduct__boxProducts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.listProduct__boxProducts a{
    color: var(--black);
}

.boxProducts-itemProduct {
    border: solid 1px var(--gray-pastel);
}

.boxProducts-itemProduct img {
    width: 100%;
    height: 260px;
    padding: 10px;
    object-fit: cover;
}


.listProduct__detailsProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listProduct__detailsProducts p {
    font-size: 0.8em;
}

.listProduct__detailsProducts .listProduct__price {
    color: #00a650;
    font-weight: 700;
}

.listProduct__detailsProducts {
    padding: 5px;
}

.listProduct__detailsProducts i {
    font-size: 1em;
    margin-right: 10px;
    color: #00a650;
    padding: 6px;
    border: solid 1px #00a650;
    border-radius: 50%;
}

.listProduct__masInfo {
    font-size: 0.8em;
    background-color: var(--lox);
    text-align: center;
    padding: 5px;
    font-weight: 700;
}


/** ════════════════════ PRODUCTS CREATE ════════════════════ **/

.createProduct {
    padding: 3em 0;
}

.createProduct__title {
    text-transform: uppercase;
    padding: 10px;
    font-size: .8em;
    background-color: var(--black);
    color: white;
    border-radius: 2px;
    margin: 5px 0;
}

.createProduct__containerForm {
    width: 85%;
    max-width: 500px;
    border: solid 1px var(--gray-pastel);
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    background-color: white;
    position: relative;
}

.createProduct__labelBox {
    display: block;
    color: gray;
    font-size: 12px;
}

.createProduct__containerForm div {
    font-size: .8em;
    align-items: center;
    padding: 5px;
}

.createProduct__containerForm div p{
    color: gray;
    font-size: 12px;
}

.createProduct__inputBox {
    border: none;
    margin: 10px 0;
    padding-bottom: 6px;
    border-bottom: solid 1px var(--gray-pastel);
    width: 100%;
}

.createProduct__containerForm section {
    padding: 5px;
}

.createProduct__containerForm button {
    border: none;
    border-radius: 2px;
    margin: 3px 0;
    font-size: .8em;
    text-transform: uppercase;
    padding: .8em;
    background-color: #3483fa;
    color: white;
}

.createProduct__inputBox:focus {
    outline: none;
} 

.createProduct__textArea{
    height: 30px;
}

.createProduct__optionCategory{
    padding: 15px;
}


.createProduct__labelCategory {
    display: block;
    padding: 5px;
    margin: auto;
}

.createProduct__labelCategory input{
    margin-right: 8px;
}


/** ════════════════════ PRODUCTS UPDATE ════════════════════ **/

.updateProduct {
    padding: 3em 0;
}

.updateProduct__title {
    text-transform: uppercase;
    padding: 10px;
    font-size: .8em;
    background-color: var(--black);
    color: white;
    border-radius: 2px;
    margin: 5px 0;
}

.updateProduct__containerForm {
    width: 85%;
    max-width: 500px;
    border: solid 1px var(--gray-pastel);
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    background-color: white;
    position: relative;
}

.updateProduct__labelBox {
    display: block;
    color: gray;
    font-size: 12px;
}

.updateProduct__containerForm div {
    font-size: .8em;
    align-items: center;
    padding: 5px;
}

.updateProduct__containerForm div p{
    color: gray;
    font-size: 12px;
}

.updateProduct__inputBox {
    border: none;
    margin: 10px 0;
    padding-bottom: 6px;
    border-bottom: solid 1px var(--gray-pastel);
    width: 100%;
}

.updateProduct__containerForm section {
    padding: 5px;
}

.updateProduct__containerForm button {
    border: none;
    border-radius: 2px;
    margin: 3px 0;
    font-size: .8em;
    text-transform: uppercase;
    padding: .8em;
    background-color: #3483fa;
    color: white;
}

.updateProduct__inputBox:focus {
    outline: none;
} 

.updateProduct__textArea{
    height: 30px;
}

.updateProduct__optionCategory{
    padding: 15px;
}


.updateProduct__labelCategory {
    display: block;
    padding: 5px;
    margin: auto;
}

.updateProduct__labelCategory input{
    margin-right: 8px;
}


/** ════════════════════ DETAILS PRODUCTS ════════════════════ **/

/*? --------------  DETALLE DEL PRODUCTO ------------ ?*/

.product-detail-general {
    background-color: #EEF2ED;
}

.product-detail {
    margin-top: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.product-detail-detail {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.product-img {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--blanco-original);
    border-radius: 5px;
    margin-left: 10px;
    width: 95%;
}

.img-product {
    margin-top: 0;
    padding: 1em;
    width: 100%;
    height: 90%;
    border: solid 1px var(--blanco-original);
    border-radius: 25px;
}

.product-name-product {
    font-size: 14px;
    font-weight: bold;
    color: var(--negro-intenso);
    margin: 30px 10px 5px;
}

.product-detail-specs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 10px;
}

.product-detail-weight {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    background-color: var(--lox);
    border: solid 2px var(--lox);
    border-radius: 20px;
    padding: 8px;
}

.product-detail-weight .fa-balance-scale-left {
    font-size: 14px;
}

.product-detail-text-weight {
    font-size: 13px;
    margin-left: 5px;
}

.product-detail-texture {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    background-color: var(--lox);
    border: solid 2px var(--lox);
    border-radius: 20px;
    padding: 8px;
}

.product-detail-texture .fa-mug-hot {
    font-size: 14px;
    margin-right: 8px;
}

.product-detail-text-textura {
    font-size: 13px;
}

.product-detail-recommended {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-text-calification {
    font-size: 14px;
}

.poduct-detail-starts .fa-star {
    font-size: 14px;
    color: var(--lox);
    margin-bottom: 25px;
}


.product-price-truck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: var(--blanco-original);
    border-radius: 5px;

}

.product-price-us p {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.product-cant {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-cant-valor {
    border: solid 2px var(--lox);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin: auto;
}

.product-cant-valor p {
    font-size: 13px;
    text-align: center;
}

.product-cant i {
    font-size: 15px;
    margin: 5px;
    color: var(--lox);
    background-color: var(--blanco-original);
}

.product-option-shipping {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: solid 1px var(--lox);
    background-color: var(--lox);
    border-radius: 10px;
    padding: 5px;
}

.product-truck .fa-truck {
    font-size: 14px;
    margin-right: 5px;
}

.product-shipping {
    margin: auto;
    margin-right: 5px;
    font-size: 13px;
}

.product-shipping a {
    color: var(--negro-intenso);
    text-decoration: none;
}

.product-product {
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--blanco-original);
    border-radius: 5px;
    margin: auto;
}

.product-description2 h4 {
    font-size: 15px;
    color: var(--negro-intenso);
    margin: 10px;
    border-bottom: solid 2px var(--lime);
}

.product-description2 p {
    font-size: 13px;
    line-height: 21px;
    margin: 10px;
}

.product-characteristic {
    font-size: 13px;
    line-height: 21px;
    margin: 10px;
}

.product-detail-specs2 {
    display: none;
}

.product-detail-specs3 {
    display: none;
}



/*? --------------  MEDIOS DE PAGO  ------------ ?*/

.product-buttons-payment {
    border-top: dashed 1.5px var(--lime);
    border-bottom: dashed 1.5px var(--lime);
    background-color: var(--blanco-original);
    margin: 15px 10px;
}

.product-payment {
    text-align: center;
}

.product-payment i {
    font-size: 18px;
    color: var(--lox);
}

/*? --------------  DESTACADOS  ------------ ?*/

.product-featured-global {
    margin: 10px;
    background-color: var(--blanco-original);
    border-radius: 5px;
}

.product-title-global {
    margin: 15px 0px;
}

.product-title {
    font-size: 18px;
    text-align: center;
    border-bottom: solid 1px var(--lime);
    padding-top: 5px;
}

.product-featured {
    display: flex;
    justify-content: center;
    padding: 5px 8px;
}

.product-coffe {
    box-shadow: 0px 1px 10px var(--negro-intenso);
    border-radius: 10px;
    margin: 5px;
    width: 33%;
}

.product-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px;
    border-radius: 10px;
}

.product-btn-shopp {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    right: 10px;
    background-color: var(--lox);
    color: var(--blanco-original);
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 10px var(--negro-intenso);
    z-index: 100;
}

.product-complete {
    display: none;
}

/** ════════════════════ CART ════════════════════ **/

#cart-products {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
    font-size:14px;
    padding: 10px;    
    margin-top:15px;
}

/*? -------------- BAR PROGRESS  ------------ ?*/

.cart__progress {
    position: relative;
    display: none;
    justify-content: space-evenly;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    width: 60%;
    align-items: center;
    color: black !important;
}

.cart__progress hr {
    width: 15%;
    border: medium none;
    border-top: 5px dotted black;
}

.cart__progress div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__progress i {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 50px;
    flex-direction: column-reverse;
    margin-bottom: 15px;    
}

.progress__not_active {
    opacity: 0.4;
}

/*? -------------- PRODUCTS LIST --------- ?*/

#table__cart tbody  tr:hover  td,  #table__sales_user tbody  tr:hover  td{
    background-color: transparent;
}

.img__table_cart{
    min-width: 80px;
    max-width: 80px;
}

#table__cart th, #table__cart td, #table__sales_user th, #table__sales_user td {
    padding: 15px 12px;
    border: none;
    border-bottom: 2px solid #f1e4e1;
}

.product_name_table_cart{
    text-align: left;
}

div.quantity__table_cart input[type=button] {
    padding: 0 5px;
    min-width: 25px;
    height: 42px;
    border: 2px solid #ddd1d0;
    background: 0 0;
    box-shadow: none;
}
div.quantity__table_cart input[type=button], div.quantity__table_cart input[type=number] {
    display: inline-block;
    color: #777;
}

div.quantity__table_cart .minus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}

div.quantity__table_cart .plus {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

div.quantity__table_cart {
    display: inline-flex;
    vertical-align: top;
    white-space: nowrap;
    font-size: 0;
}

div.quantity__table_cart input[type=button]{
    border: 2px solid #ddd1d0;
    font-weight: bold;
    color: black;
}

div.quantity__table_cart input[type=number] {
    color: black;
    width: 30px;
    height: 42px;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: 2px solid #ddd1d0;
    border-bottom: 2px solid #ddd1d0;
    padding: 0;
    text-align: center;
}

.total-cart{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    background-color:white;
}

tbody tr .product_subtotal__table_cart , .total-cart .price{
    color:  rgb(255,51,36);
    font-weight: bold;
}

.total-cart .title {
    font-size: 15px;   
}

.total-cart .button{
    width: 30%;
    background-color: var(--black);
    color: white;
    font-weight: bold;
    padding: 5px;
}

#table__cart tr:nth-child(even), #table__sales_user tr:nth-child(even){ 
    background-color: transparent;
}

/** ════════════════════ MENU USER ════════════════════ **/
#menu_user{
    background-color:white;
    width: 100%;
    border-bottom: 1px solid var(--lox);
    font-weight: bold;
}

.selected_menu_user_item{
    background-color: var(--lox)
}

#menu_user ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#menu_user a{
    color:black;
}

#menu_user li{
    padding: 15px;
}

/** ════════════════════ CONTAINER USER SALES ════════════════════ **/

.container_users{
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

/** ════════════════════ USER SALES ════════════════════ **/
.container_detail_view_user, container__table_sales_user{
    width: 100%;
    /** width:70%;*/
    /** margin-left:10px; */
    background: white;
}

#table__sales_user{
    width: 100%;
}

#table__sales_user a{
    color: black;
}

#table__sales_user .total_sale{
    color: rgb(255,51,36);
    font-weight: bold;
}

#table__sales_user .description_total_sale{
    display: none;
}
 
.container__table_sales_user .title{
    margin: 20px;
    font-weight: bold;
    font-size:25px;
}

/** ════════════════════ HOME ════════════════════ **/

.home__containerColumns {
    width: 85%;
    margin: auto;
}

.home__containerColumns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*? --------------- AREAS DE GRID --------------- ?*/

.home__clusterOne {
    grid-area: home__clusterOne;
}

.home__clusterTwo {
    grid-area: home__clusterTwo;
}

.home__clusterThree {
    grid-area: home__clusterThree;
}

.home__clusterFor {
    grid-area: home__clusterFor;
}

.home__clusterFive {
    grid-area: home__clusterFive;
}

/** --------------- CUERPO DEL HOME --------------- **/


.generalHome {
    position: relative;
    top: 66px;
    z-index: 1;
    margin-bottom: calc(66px + var(--tamanoFooter)); /* Este calculo es para acomodar el footer. 160px es el alto del Footer, se deberia crear una variable. */
}

body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #EEF2ED;
}

.Opacity {
    color: #000000;
    background-color: #000000;
    z-index: 100;
    position: absolute;
}

.home__containerBanner {
    width: 100%;
    height: 150px;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.home__containerBanner video {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.home__containerBanner .videotwo-container {
    border: solid 1px gray;
    border-radius: 2px;
    padding: 10px;
    z-index: 2;
    position: absolute;
    width: 85%;
    height: 70%;
    top: 15%;
    bottom: 15%;
}

.videotwo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.home__logoAndTextBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    line-height: 1.2;
    height: 100%;
    width: 100%;
    color: #ffffff;
    z-index: 3;
    font-size: .7em;
}

.opacity {
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    font-size: 5em;
    z-index: 1;
}

.home__body {
    max-width: 100%;
    margin: auto;
}

.home__carrousel {
    text-align: center;
    display: block;
    margin: 20px 20px;
}

.home__carrousel-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 7px;
    background-color: white;
    border-radius: 10px;
}


.home__carrousel-picture li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** ════════════════════ PRODUCTS CREATE ════════════════════ **/


.createProduct__containerForm .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

/** ════════════════════ PRODUCTS UPDATE ════════════════════ **/

.updateProduct__containerForm .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

/** ════════════════════ PRODUCT ════════════════════ **/


.home__carrousel-picture i {
    border: solid 1px var(--blue-pastel);
    border-radius: 50%;
    padding: 10px;
    font-size: 12px;
    color: var(--blue-pastel);
}

.home__carrousel-picture p {
    display: none;
}

.home__carrousel-picture h4 {
    font-weight: bold;
    font-size: 0.5em;
    margin: 5px;
}

.home__carrousel-picture div {
    padding: 5px;
    width: 100%;
}

.home__containerColumns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home__containerColumns {
    width: 85%;
    margin: auto;
}

.home__containerColumns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home__containerColumns-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: auto;


    grid-template-areas:
        "home__clusterOne home__clusterTwo"
        "home__clusterThree home__clusterFor"
        "home__clusterFive home__clusterFive";
}

/** ════════════════════ FORMULARIO DE REGISTRO >> REGISTER ════════════════════ **/

.registerForm__container-form{
    margin-top: 3em;
}

.registerForm__form {
    width: 85%;
    max-width: 500px;
    border: solid 1px var(--gray-pastel);
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    background-color: white;
    position: relative;
}

.registerForm__form div {
    padding: 5px;
    margin: 1.3em 0;
}

.registerForm__form label {
    color: var(--gray-pastel);
    font-size: 14px;
    position: absolute;
    display: block;
    padding: .8em 0;
    margin-left: 0;
    transform: translateY(-40px);
    transition: transform .5s;
}

.registerForm__form input {
    font-family: proximanova;
    padding: .5em 0;
    border: none;
    width: 100%;
    border-bottom: solid 1px var(--gray-pastel);
}

.registerForm__form input:focus{
    transition: all .1s;
    outline: none;
    border-bottom: solid 2px var(--lox);
}

.registerForm__btn {
    text-transform: uppercase;
    font-size: 15px;
    padding: 0.8em;
    width: 100%;
    border: none;
    border-radius: 2px;
    color: black;
    font-weight: 600;
}

.registerForm__btn:hover {
    box-shadow: 2px 5px 16px 0px #cdcdcd;
}

/*.errorCampoDiv input {
    box-shadow: 0px 0px 6px red;
}*/

.btnSendRegister {
    background: #0f82fc;
    color: white;
    letter-spacing: 1px;
}

.register__formError {
    margin-top: 0.7em;
    color: red;
    font-size: 0.8em;
    text-align: center;
    font-weight: 700;
}

.errorCampoDiv input{
    border-bottom: solid 2px red;
}

/* Esto se esta usando para el Register, para crear productos y para editar productos */

.registerForm__titleForm{
    text-align: center;
    border-radius: 1px;
}

.registerForm__titleForm h2{
    font-weight: 700;
    padding: .3em;
    font-size: 18px;
    letter-spacing: 1px;
}

.registerForm__titleForm h3{
    font-weight: 700;
    padding: .3em;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 1em;
}

/* Aca termina su uso en esas 3 paginas */

.errorCampoDiv input::placeholder{
    color: red ;
    font-weight: 700;
}

.registerForm__formInput:focus + .registerForm__formLabel,
.registerForm__formInput:not(:placeholder-shown) + .registerForm__formLabel{
    transform: translateY(-55px) scale(.75);
    transform-origin: left top;
    color: #3866f2;
}



/*! ════════════════════ FOOTER ════════════════════ !*/

/* Estos son los cambios necesarios para el buen funcionamiento del footer. */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--tamanoFooter); /* Es el calculo del Footer, deberia ser una variable. */
    background-color: var(--negro-pastel);
}

/* Cierro comentario de estos cambios de arriba. */

.footer-medium-box {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 5px;
    width: 100%;
    height: 100%;
    color: var(--blanco-original);
}

.footer-information {
    width: 100%;
    border-bottom: dashed 1px var(--lime);
    padding-bottom: 5px;
    text-align: center;
}

.footer-text-information {
    font-size: 14px;
    line-height: 22px;
}

.footer-title-info {
    font-size: 16px;
    color: var(--lox);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
}

.productFooter {
    opacity: .7;
    height: 130px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.productFooter a:hover {
    transition: color 0.3s ease;
    color: var(--lox);
    cursor: pointer;
}

.footer-links {
    width: 100%;
    border-bottom: dashed 1px var(--lime);
    padding-bottom: 5px;
    text-align: center;
}


.footer-title-links {
    font-size: 16px;
    color: var(--lox);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
}


.footer-contact {
    border-bottom: dashed 1px var(--lime);
}

.footer-title-contact {
    font-size: 16px;
    color: var(--lox);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
}

.fa-whatsapp {
    color: var(--whatsapp);
    font-size: 14px;
    margin: 0 5px;
    text-align: center;
}

.footer-text-contact {
    font-size: 14px;
    text-align: center;
}

.fa-at {
    color: var(--email);
    font-size: 14px;
    margin: 10px 5px;
    text-align: center;
}

.footer-title-email {
    font-size: 14px;
    text-align: center;
}

.footer-last-footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 0px;
    align-items: center;
}

.footer-Copyright-text {
    text-align: center;
    font-size: 8px;
    color: var(--blanco-original);
    padding: 5px;
}

.footer-link-net {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-link-net i {
    padding-left: 10px;
    color: var(--lox);
    text-align: center;
}

.footer-link-text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.footer-logo-box {
    width: 65%;
    margin: auto;
}

.footer-logo {
    width: 100%;
}



/*! ════════════════════ MEDIAS QUERYS ════════════════════ !*/

/* TODO ════════════════════ MEDIA QUERY 480PX ════════════════════ TODO */

@media (min-width: 480px) {
    /*! ═════════════════ MODAL CHANGE PASSWORD ═════════ !*/

    .changePassword__container {       
        width: 70%;
        left: 15%;
    }

    /*! ════════════════════ MODAL LOGIN ════════════════════ !*/

    .login__container {
        width: 450px;
        top: 0;
        right: 0px;
    }

    /*! ════════════════════ MAIN ════════════════════ !*/

    /** ════════════════════ CART ════════════════════ **/

    /*? --------------  TOTAL CART ------------ ?*/

    #table__cart th, #table__cart td {
        font-size: 14px;
    }

    #table__cart tfoot td {
        font-size: 20px;
    }
    /** ════════════════════ LIST PRODUCTS ════════════════════ **/

    .listProduct__boxProducts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /** ════════════════════ ADMIN PRODUCTS  ════════════════════ **/



    /** ════════════════════ PRODUCT ════════════════════ **/


    .product-img {
        width: 80%;
        margin: auto;
    }

    /** ════════════════════ PRODUCTS CREATE ════════════════════ **/



    /** ════════════════════ PRODUCTS UPDATE ════════════════════ **/


    /** ════════════════════ DETAIL PRODUCTS  ════════════════════ **/

    /*? --------------  DETALLE DEL PRODUCTO ------------ ?*/

    .product-img {
        width: 95%;
    }


    /** ════════════════════ CART ════════════════════ **/

    /*? -------------- BAR PROGRESS  ------------ ?*/

    .wd-checkout-steps{
        display: flex;
    }
    .cart__progress hr {
        top: 23px;
    }

    .cart__progress i {
        position: relative;
        font-size: 30px;
    }

    .cart__progress i span {
        right: 18px;
    }

    /*? -------------- PRODUCTS LIST --------- ?*/

    .cart__products article {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        max-width: 700px;
        width: 100%;
    }

    .cart__products article img {
        width: 25%;
    }

    .cart__products article div {
        width: 25%;
    }

    .cart__products article .cart__more-less {
        width: 25%;
    }

    /** ════════════════════ HOME ════════════════════ **/

    .home__banner img {
        height: 150px;
    }

    .home__carrousel {
        text-align: center;
        display: block;
        margin: 20px 20px;
    }

    .home__carrousel-picture {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        border: solid 1px rgb(235, 235, 235);
        border-radius: 10px;
    }

    .home__carrousel-picture i {
        padding: 15px;
        font-size: 18px;
    }

    .home__carrousel-picture h4 {
        font-weight: bold;
        font-size: 12px;
        margin: 10px 0;
    }

    .home__carrousel-picture p {
        display: none;
        font-size: 12px;
    }

    .home__containerBanner {
        height: 300px;
    }

    .home__logoAndTextBanner {
        font-size: .9em;
    }
    
    .redesSocialesBanner {
        column-gap: 0;
        padding: .5em .2em;
    }
    
    .redesSocialesBanner__icon{
        font-size: 2.2em;
    }
    
    .redesSocialesBanner__icons{
        column-gap: 6px;
    }

    .redesSocialesBanner h5{
        font-size: .9em;
    }

    /** ════════════════════════════  New FOOTER  ════════════════════════════════ **/

    .newFooter__itemsBox{
        border-left: solid 1px var(--lox);
    }


    .newFooter__container h4 {
        font-size: 16px;
    }

    .newFooter__container p {
        font-size: 12px;
    }

}

/* TODO ════════════════════ MEDIA QUERY 768PX ════════════════════ TODO */

@media (min-width: 768px) {

    /*! ════════════════════ HEADER ════════════════════ !*/

    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
    }

    nav-links ul {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        border-bottom: none;
    }

    .nav-link :hover {
        background: var(--lox);
        border: solid 10px var(--lox);
        border-radius: 5px;
        transition: 0.5s;
        color: #000000;
        font-weight: 800;
    }

    /*! ═════════════════ MODAL CHANGE PASSWORD ═════════ !*/

    .changePassword__container {       
        width: 40%;
        left: 30%;
    }

    /*! ════════════════════ MAIN ════════════════════ !*/

    /** ════════════════════ MENU USER ════════════════════ **/
    #menu_user{
        display: revert;
    }

    /** ════════════════════ USER SALES ════════════════════ **/
      
    #table__sales_user .description_total_sale{
        display: revert;
    }
    

    /** ════════════════════ ADMIN PRODUCTS  ════════════════════ **/

    .AdminProducts__table .item-display-none{
        display: revert;
    }

    .AdminProducts__create{
        width: 50%;
    }

    /** ════════════════════ LIST PRODUCTS ════════════════════ **/

    .listProduct__boxProducts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    /** ════════════════════ PRODUCT ════════════════════ **/



    /** ════════════════════ CART ════════════════════ **/

    .cart__progress{
        display: flex;
    }
    /*? --------------  TOTAL CART ------------ ?*/

    #table__cart th, #table__cart td {
       font-size: 15px;
    }

    /** ════════════════════ HOME ════════════════════ **/

    .home__body {
        max-width: 90vw;
        margin: auto;
    }

    .home__banner img {
        height: 200px;
    }

    .home__carrousel-picture h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 10px 0;
    }

    .home__carrousel-picture p {
        display: block;
        font-size: 12px;
    }

    .home__containerColumns-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        grid-template-areas:
            "home__clusterOne home__clusterTwo home__clusterThree"
            "home__clusterFor home__clusterTwo home__clusterFive";
    }

    .home__carrousel-picture div {
        padding: 10px;
    }

    .home__containerBanner {
        height: 400px;
    }

    .home__logoAndTextBanner {
        font-size: 1.3em;
    }

    .redesSocialesBanner h5{
        font-size: 1em;
    }
    
    /** ════════════════════ FORMULARIO DE REGISTRO >> REGISTER ════════════════════ **/


    .register__formError {
        margin-top: 10px;
    }

    .registerForm__form label {
        margin-bottom: 0;

    }

    .registerForm__Btns {
        text-align: right;
    }

    .registerForm__form input {
        padding: .5em 0;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
    }

    nav-links ul {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        border-bottom: none;
    }

    .nav-link :hover {
        background: var(--lox);
        border: solid 10px var(--lox);
        border-radius: 5px;
        transition: 1s;
        color: #000000;
        font-weight: 800;
    }

    /*! ════════════════════ MAIN ════════════════════ !*/

    /** ════════════════════ LIST PRODUCTS ════════════════════ **/

    .listProduct__boxProducts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    /** ════════════════════ PRODUCTS CREATE ════════════════════ **/


    /** ════════════════════ PRODUCTS UPDATE ════════════════════ **/


    /** ════════════════════ DETAIL PRODUCT ════════════════════ **/

    /*? --------------  DETALLE DEL PRODUCTO ------------ ?*/

    .product-img {
        display: none;
    }

    .product-price-truck {
        display: none;
    }

    .product-product {
        display: none;
    }

    .img-product {
        display: none;
    }

    .product-buttons2 {
        display: none;
    }

    .product-detail-general {
        width: 80%;
        margin-left: 10%;
    }

    .product-detail-detail {
        font-size: 22px;
    }

    .product-complete {
        display: flex;
        justify-content: center;
        background-color: var(--blanco-original);
        border-radius: 5px;
        margin: 20px 0px;
    }

    .product-img2 {
        width: 50%;
        height: 50%;
    }

    .img-product2 {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        object-fit: cover;
    }

    .product-description-complete {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .product-name-product2 p {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .product-price-truck2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .product-price-us2 p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .product-cant2 {
        display: flex;
        justify-content: center;
        margin: 15px 5px;
    }

    .product-cant2 i {
        font-size: 18px;
        color: var(--lox);
        background-color: var(--blanco-original);
    }

    .product-cant-valor2 {
        font-size: 18px;
        margin: 0px 5px;
    }

    .product-option-shipping2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-truck2 i {
        font-size: 18px;
        margin: 5px;
        color: var(--lox);
    }

    .product-shipping2 a {
        font-size: 18px;
        text-decoration: none;
        color: var(--negro-intenso);
        margin: 5px;
        text-align: center;
    }

    .product-shipping2 a:hover {
        background-color: var(--naranja-transparante-borde);
        border-radius: 5px;
        transition: background-color 1s;
        cursor: pointer;
        padding: 3px;
    }

    .product-btn-shopp2 i {
        font-size: 25px;
        color: var(--blanco-original);
        border: solid 10px var(--naranja-oscuro);
        border-radius: 50%;
        background-color: var(--naranja-oscuro);
    }

    .product-product2 {
        display: flex;
        flex-direction: column;
    }

    .product-characteristic2 {
        margin: 8px 5px;
    }

    .product-characteristic2 p {
        font-size: 18px;
    }

    .product-description3 h4 {
        font-size: 20px;
        margin: 5px;
    }

    .product-description3 p {
        font-size: 18px;
        margin: 5px;
        padding-bottom: 5px;
    }

    /*? --------------  ESPECIFICACIONES ------------ ?*/


    .product-detail-specs2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: center;
        margin: 10px 0px;
        background-color: var(--blanco-original);
        border: solid 1px var(--blanco-original);
        border-radius: 5px;
    }


    .product-detail-weight2 {
        text-align: center;
    }

    .product-detail-texture2 {
        text-align: center;
    }

    .product-detail-weight2 .fa-balance-scale-left {
        color: var(--lox);
    }

    .product-detail-texture2 .fa-mug-hot {
        color: var(--lox);
    }

    .product-detail-recommended2 {
        text-align: center;
    }

    .product-detail-calification2 {
        margin: 2px 50px;
        text-align: center;
    }

    .product-detail-text-calification2 {
        padding-right: 10px;
    }

    .product-detail-recommended2 .fa-star {
        color: var(--lox);
    }


    /*? --------------  MEDIOS DE PAGO  ------------ ?*/

    .product-buttons-payment {
        margin: 10px 0px;
    }

    .product-payment i {
        font-size: 20px;
    }

    /*? --------------  DESTACADOS  ------------ ?*/

    .product-featured-global {
        margin: 15px 0px;
    }

    .product-title {
        font-size: 22px;
    }

    .product-featured {
        padding: 30px;
    }

    .product-coffe .product-product-img:hover{
        cursor: pointer;
        transition: box-shadow 0.1s;
        box-shadow: 0px 1px 10px var(--negro-intenso);
    }


    /** ════════════════════ CART ════════════════════ **/

    /*? --------------  TOTAL CART ------------ ?*/
    
    #cart-products {
        display: flex;
        align-items: flex-start;
        padding: 20px;
    }
    .total-cart{
        flex-wrap: wrap;
        margin: initial;
        margin-left: 20px;
        max-width: 350px;       
    }

    .total-cart .button{
        margin-top: 10px;
        width: 100%;
    }

    /** ════════════════════ HOME ════════════════════ **/

    .home__body {
        max-width: 90vw;
        margin: auto;
    }

    .home__banner img {
        height: 200px;
    }

    .home__carrousel-picture h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 10px 0;
    }

    .home__carrousel-picture p {
        display: block;
        font-size: 12px;
    }

    .home__containerColumns-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        grid-template-areas:
            "home__clusterOne home__clusterTwo home__clusterThree"
            "home__clusterFor home__clusterTwo home__clusterFive"
        ;
    }

    .home__carrousel-picture div {
        padding: 10px;
    }

    .redesSocialesBanner {
        width: 77vw;
    }

    /** ════════════════════ FORMULARIO DE REGISTRO >> REGISTER ════════════════════ **/

    .registerForm__form label {
        margin-bottom: 0;
    }

    .registerForm__Btns {
        text-align: right;
    }

    .registerForm__form input {
        padding: .5em 0;
    }

    /** ════════════════════════════  New FOOTER  ════════════════════════════════ **/

    .newFooter__desktop{
        display: block;
    }

    .newFooter__container{
        grid-template-columns: 1fr 1fr;
    }

    /** ════════════════════════════  FOOTER  ════════════════════════════════ **/

    .footer-medium-box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-information {
        border: none;
    }

    .footer-links {
        border: none;
    }

    .footer-contact {
        border: none;
    }

    .footer-last-footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer-link-net {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .footer-link-text {
        font-size: 14px;
    }

    .footer-Copyright-text {
        font-size: 12px;
    }

    .fa-twitter {
        margin-right: 25px;
    }

    .footer-Copyright {
        width: 100%;
        margin-top: 8px;
    }

    .footer-text-ws {
        font-size: 16px;
    }

    .footer-networks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-link-net i {
        font-size: 18px;
    }

    .footer-text-contact {
        margin-top: 8px;
    }

    .footer-logo-box {
        width: 80%;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-title-info {
        margin-top: 15px;
    }

    .footer-title-links {
        margin-top: 15px;
    }

    .footer-title-contact {
        margin-top: 15px;
    }
}


/* TODO ════════════════════ MEDIA QUERY 992PX ════════════════════ TODO */

@media (min-width: 992px) {

    /*! ═════════════════ MODAL CHANGE PASSWORD ═════════ !*/

    .changePassword__container {       
        width: 30%;
        left: 35%;
    }
    /*! ════════════════════ MAIN ════════════════════ !*/

    /** ════════════════════ CART ════════════════════ **/
    #cart-products {
        padding: 30px;
    }

    /** ════════════════════ LIST PRODUCTS ════════════════════ **/

    .listProduct__boxProducts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .home__containerBanner {
        height: 500px;
    }

    .home__logoAndTextBanner {
        font-size: 1.5em;
    }

    .redesSocialesBanner h5{
        padding: 8px;
        font-size: 1.3em;
    }

    .redesSocialesBanner {
        width: 77vw;
        padding: .5em .2em;
    }
    
    .redesSocialesBanner__icon{
        font-size: 3em;
    }
    
    .redesSocialesBanner__icons{
        column-gap: 9px;
    }

    /** ════════════════════ DESCRIPCION DE PRODUCTO ════════════════════ **/

    /*? --------------  DETALLE DEL PRODUCTO ------------ ?*/

    .product-product2 {
        margin-top: 20px;
        margin-right: 20px;
    }

    .product-description-complete {
        margin-top: 40px;
    }
    
    .product-description-product2 {
        margin-bottom: 20px;
    }

    /*! ════════════════════ Pagina de ERROR 404 ════════════════════ !*/

    .error404__container{
        max-width: 1200px;
        margin: auto;
        padding: 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        min-height: calc((100vh - var(--tamanoFooter) - 66px));
        align-items: center;
    }

    .error404__title{
        text-align: left;
        padding: 20px 0;
    }

    .error404__title h3{
        font-size: 37px;
        line-height: 45px;
    }

    .error404__onefrase{
        padding: 0;
    }

    .error404__onefrase p{
        text-align: left;
    }

    .error404__twofrase{
        text-align: left;
        padding: 20px 0;
    }

    .error404__links{
        padding: 0;
    }

    .error404__links ul{
        padding: 0;
        display: block;
    }

    .error404__animationImage img{
        width: 140%;
    }

}


/* TODO ════════════════════ MEDIA QUERY 1200PX ════════════════════ TODO */

@media (min-width: 1200px) {
    /*! ════════════════════ MAIN ════════════════════ !*/

    /** ════════════════════ CART ════════════════════ **/
    #table__cart {
        width: 80%;
    }

    /** ════════════════════ LIST PRODUCTS ════════════════════ **/

    .listProduct {
        grid-template-columns: 1fr 4fr;
    }

    .listProduct__boxProducts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    /** ════════════════════ HOME ════════════════════ **/

    .home__body {
        max-width: 80vw;
        margin: auto;
    }

    .home__carrousel-picture h4 {
        font-size: 20px;
    }

    .home__carrousel-picture p {
        font-size: 14px;
    }

    .redesSocialesBanner h5 {
        letter-spacing: 4px;
    }

    /** ════════════════════ DETAIL PRODUCT ════════════════════ **/


    .product-img2 {
        width: 40%;
        height: 40%;        
    }

    .product-complete {
        margin: 10px 40px;
    }

    .product-detail-specs2 {
        margin: 10px 40px;
    }

    .product-buttons-payment {
        margin: 10px 40px;
    }

    .product-featured-global {
        margin: 10px 40px;
    }

    /** ════════════════════════════  FOOTER  ════════════════════════════════ **/

    .fa-twitter {
        margin-right: 45px;
    }


}