*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "proximanova";
}

@font-face {
    font-family: "proximanova";
    src: url("../fonts/proximanova-regular.otf") /* format("truetype"); */
} 

@font-face {
    font-family: "proximanovaBold";
    src: url("../fonts/proximanova-semibolditalic.otf") /* format("truetype"); */
}