<!-- Encabezado de la pagina -->
<%- include("../partials/head") %>
    
    <title>Formulario de Registro</title>
</head>
<body> 
    
    <%- include("../partials/header") %>

    <section class="generalHome">
        
        <div class="registerForm__container-form">

            <form action="" class="registerForm__form">

                <div class="registerForm__container-label">
                    <label for="">Ingresa tu Nombre:</label>
                    <input type="text" required>
                </div>

                <div class="registerForm__container-label">
                    <label for="">Ingresa tu Apellido:</label>
                    <input type="text" required>
                </div>

                <div class="registerForm__container-label">
                    <label for="">Ingresa tu Correo Electronico:</label>
                    <input type="email" required>
                </div>

                <div class="registerForm__container-label errorCampoDiv">
                    <label class="register__formLabel" for="">Ingresa tu Contraseña:</label>
                    <input class="register__formInput" type="password" required>
                    <p class="register__formError">La contraseña no cumple los requisitos minimos, intentalo nuevamente</p>
                </div>

                <div class="registerForm__container-label">
                    <label for="">Confirma la contraseña ingresada:</label>
                    <input type="password" required>
                </div>

                <div class="registerForm__Btns">
                        <button type="submit" class="registerForm__btn btnSend">Registrarme</button>
                </div>

            </form>

        </div>

        <%- include("../partials/footer") %>

    </section>

    <!-- * Scripts de la WEB -->
    <script src="../js/appHeader.js"></script>

</body>
</html>